* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  text-decoration: none;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/Mona-Sans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/Mona-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/Mona-Sans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/Mona-Sans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/Mona-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/Mona-Sans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
h1, h2 {
  font-family: "Druk Cyr", sans-serif;
  color: #000000;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 20px;
  background-color: #000000;
  color: #FFFFFF;
  color: white;
}
.header__logo img {
  width: 27.141px;
  height: 32.015px;
  flex-shrink: 0;
  color: white;
  fill: white;
}
.header .menu {
  display: flex;
  align-items: center;
  gap: 9.74px;
}
.header .menu__text {
  color: #fff;
  font-family: "Druk Cyr", sans-serif;
  font-size: 26.165px;
  font-weight: 700;
  line-height: 91.5%;
  letter-spacing: -0.523px;
  text-transform: uppercase;
}
.header .menu__dots {
  display: grid;
  grid-template-columns: repeat(2, 6px);
  grid-template-rows: repeat(2, 6px);
  gap: 9.97px;
}
.header .menu__dots__dot {
  width: 6.65px;
  height: 6.65px;
  background-color: #00D0D2;
  border-radius: 50%;
}
@media (min-width: 1920px) {
  .header {
    padding: 60px 71px 0 71px;
    background: transparent;
    z-index: 20;
    color: black;
  }
  .header__logo img {
    width: 65.276px;
    height: 77.002px;
  }
  .header .menu__text {
    font-size: 47.243px;
    color: black;
  }
  .header .menu__dots {
    grid-template-columns: repeat(2, 12px);
    grid-template-rows: repeat(2, 12px);
    gap: 18px;
  }
  .header .menu__dots__dot {
    width: 12px;
    height: 12px;
    background-color: #00D0D2;
    border-radius: 50%;
  }
}

@media (max-width: 1919px) {
  .nav-menu__logo {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 51px 0 80px 20px;
  color: #FFFFFF;
  min-height: 100vh;
  background-image: url("../../images/background-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin: 0 auto;
}
.hero__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero__top-vectors {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 51px;
}
.hero__top-text {
  width: 121.072px;
  color: #000000;
  text-align: center;
  font-family: "Mona Sans", sans-serif;
  font-size: 8.965px;
  font-style: normal;
  font-weight: 600;
  line-height: 111%;
  letter-spacing: -0.269px;
}
.hero__vector1 {
  width: 52.338px;
  height: 19.548px;
  flex-shrink: 0;
}
.hero__vector2 {
  width: 39.096px;
  height: 17.341px;
  flex-shrink: 0;
}
.hero__title1 {
  padding: 0 0 0 3px;
  color: #000000;
  width: 203px;
  font-family: "Druk Cyr", sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 99%;
  letter-spacing: -1.24px;
  text-transform: uppercase;
}
.hero__title2 {
  padding: 0 0 0 3px;
  color: #000000;
  width: 260px;
  font-family: "Druk Cyr", sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 99%;
  letter-spacing: -1.24px;
  text-transform: uppercase;
  margin-bottom: 51.86px;
}
.hero .join-main-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 68px;
}
.hero .join-main-container--modal {
  justify-content: center;
  height: 60px;
}
.hero .join-course-container {
  position: relative;
  display: inline-block;
  width: 176px;
  height: 68px;
}
.hero .join-course-container--modal {
  width: 140px;
  height: 55px;
}
.hero .join-course-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.hero .join-course__background {
  width: 176px;
  height: 68px;
  background-image: url("../../images/rectangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .join-course__text {
  position: absolute;
  top: 38%;
  left: 15%;
  font-family: "Mona Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.42px;
  color: #000000;
  text-transform: uppercase;
}
.hero .join-course__arrow {
  position: absolute;
  width: 9.6px;
  height: 9.6px;
}
.hero .join-course__arrow--top-left {
  top: 0;
  left: 0;
}
.hero .join-course__arrow--top-right {
  top: 0;
  right: 0;
}
.hero .join-course__arrow--bottom-left {
  bottom: 0;
  left: 0;
}
.hero .join-course__arrow--bottom-right {
  bottom: 0;
  right: 0;
}
.hero .join-course-box {
  position: relative;
  width: 66.38px;
  height: 66.38px;
  margin-top: 20px;
  cursor: pointer;
}
.hero .join-course-box:hover .join-course-box__background {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.hero .join-course-box__background {
  position: absolute;
  top: -17%;
  left: 0;
  width: 66.38px;
  height: 66.38px;
  flex-shrink: 0;
  background-color: #00D0D2;
  transition: background-color 0.3s ease;
}
.hero .join-course-box__arrow {
  position: absolute;
  stroke: #000000;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11.46px;
  height: 12.99px;
  transition: fill 0.3s ease;
}
@media (max-width: 375px) {
  .hero {
    width: calc(90% + 10% * (100vw - 320px) / 55);
  }
}
@media (min-width: 376px) and (max-width: 1919px) {
  .hero {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .hero {
    max-width: 1920px;
    margin: 0 auto;
    background: none;
    padding: 110px 70px 105px 70px;
  }
  .hero__title1 {
    width: 400px;
    font-size: 66px;
    letter-spacing: -1.32px;
    padding: 0;
    margin-bottom: 13px;
  }
  .hero__title2 {
    width: 933px;
    font-size: 222.423px;
    margin-bottom: 41px;
    padding: 0;
  }
  .hero__top-text {
    width: 251.195px;
    font-size: 18.601px;
    letter-spacing: -0.558px;
  }
  .hero__vector1 {
    width: 108.59px;
    height: 40.558px;
  }
  .hero__vector2 {
    width: 81.115px;
    height: 35.978px;
  }
  .hero .join-main-container {
    margin-top: 20px;
  }
  .hero .join-course-container {
    width: 320px;
    height: 104px;
  }
  .hero .join-course__background {
    width: 320px;
    height: 104px;
    background-image: url("../../images/rectangle-desk-hero.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero .join-course__text {
    font-size: 22px;
  }
  .hero .join-course-box {
    width: 104px;
    height: 104px;
  }
  .hero .join-course-box__background {
    top: -12%;
    left: 0;
    width: 104px;
    height: 104px;
  }
  .hero .join-course-box__arrow {
    width: 17.95px;
    height: 20.34px;
  }
}

.course-target {
  padding: 50px 20px 108px 20px;
  color: #000000;
  background-color: #f9f9f9;
}
@media (max-width: 1919px) {
  .course-target__title {
    display: none;
  }
}
.course-target__groups {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.group {
  background-color: #FFFFFF;
  border-radius: 22px;
  height: auto;
  padding: 39px 20px 52px 27px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
@media (max-width: 374px) {
  .group {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (width: 375px) {
  .group {
    width: 335px;
    margin: 0 auto;
  }
}
.group .group__icon--newbies {
  background-image: url("../../images/newbies.svg");
  width: 44px;
  height: 44px;
  position: absolute;
  top: 28px;
  right: 30px;
  flex-shrink: 0;
}
.group .group__icon--young-professionals {
  background-image: url("../../images/young-proffessionals.svg");
  width: 44px;
  height: 44px;
}
.group .group__icon--advanced {
  background-image: url("../../images/advanced-learners.svg");
  width: 44px;
  height: 53px;
}
.group .group__icon--veterans {
  background-image: url("../../images/tattoo-veterans.svg");
  width: 44px;
  height: 44px;
}
.group__number {
  font-family: "Mona Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  line-height: 99%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.group__number span {
  color: rgba(0, 0, 0, 0.33);
}
.group__title {
  font-family: "Druk Cyr", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 99%;
}
.group__text {
  font-family: "Mona Sans", sans-serif;
  font-size: 14px;
  letter-spacing: -0.42px;
  font-style: normal;
  font-weight: 600;
  line-height: 144%;
  width: 100%;
}
.group__icon {
  position: absolute;
  top: 28px;
  right: 30px;
  flex-shrink: 0;
}
.group--newbies {
  background-color: #00D0D2;
}
.group--young-professionals {
  background-color: #FFFFFF;
}
.group--warning {
  color: #FFFFFF;
  background-color: #000000;
  padding: 79px 41px;
  gap: 26px;
}
.group--warning .group__icons-row {
  display: flex;
  justify-content: center;
  gap: 10.49px;
}
.group--warning .group__warning-icons {
  width: 117.754px;
  height: 11.076px;
  flex-shrink: 0;
}
.group--warning .group__warning-text {
  text-align: center;
  font-family: "Mona Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: #FFFFFF;
  line-height: 144%;
  letter-spacing: -0.42px;
}

@media (min-width: 1920px) {
  .course-target {
    color: #FFFFFF;
    padding: 26px 70px 120px 70px;
    background: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 25.53%, #000 100%);
  }
  .course-target__title {
    z-index: 100;
    font-family: "Druk Cyr", sans-serif;
    font-size: 133px;
    font-weight: 700;
    line-height: 99%;
    letter-spacing: -2.66px;
    text-transform: uppercase;
    margin-bottom: 41px;
  }
  .course-target__groups {
    display: grid;
    grid-template-columns: repeat(4, 447px);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    gap: 0px;
    max-width: 1920px;
    margin: 0 auto;
  }
  .group {
    width: 445px;
    height: 245px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 22px;
    border: 3px solid #fff;
    background: transparent;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .group > *:first-child {
    margin-bottom: 41px;
  }
  .group > *:not(:first-child):not(:last-child) {
    margin-bottom: 12px;
  }
  .group__number {
    color: #FFFFFF;
  }
  .group__number span {
    color: rgba(255, 255, 255, 0.33);
  }
  .group__title {
    color: #FFFFFF;
  }
  .group--newbies {
    background-color: #FFFFFF;
    color: #000000;
    height: 490px;
    grid-column: 1/span 1;
    grid-row: 1/span 2;
  }
  .group--newbies .group__number {
    color: #000000 !important;
  }
  .group--newbies .group__number span {
    color: rgba(0, 0, 0, 0.33);
  }
  .group--newbies .group__title {
    color: #000000;
  }
  .group--newbies .group__text {
    width: 291px;
    margin-bottom: 28px;
  }
  .group .group__icon--newbies {
    background-image: url("../../images/newbies.svg");
    width: 210px;
    height: 210px;
    top: 250px;
    right: 200px;
  }
  .group .group__icon--young-professionals {
    background-image: url("../../images/young-professionals-white.svg");
    width: 63px;
    height: 63px;
    flex-shrink: 0;
  }
  .group .group__icon--advanced {
    background-image: url("../../images/advanced-leanrer-white.svg");
    width: 49px;
    height: 59px;
    flex-shrink: 0;
  }
  .group .group__icon--veterans {
    background-image: url("../../images/tatoo-veterans-white.svg");
    width: 61px;
    height: 63px;
    flex-shrink: 0;
  }
  .group--young-professionals {
    grid-column: 2;
    grid-row: 1;
  }
  .group--advanced {
    grid-column: 3;
    grid-row: 1;
  }
  .group--veterans {
    grid-column: 4;
    grid-row: 1;
  }
  .group--warning {
    grid-column: 2;
    grid-row: 2/span 2;
    width: 1335px;
    padding: 104px 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .group--warning .group__warning-icon img {
    width: 202px;
    height: 19px;
  }
  .group--warning .group__warning-text {
    width: 231px;
  }
}
.nav-menu__logo {
  display: none;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #00D0D2;
  transition: right 0.3s ease;
  z-index: 10;
}
.nav-menu__content {
  height: 100%;
  overflow-y: auto;
  padding: 45px 20px;
}
.nav-menu .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.nav-menu .nav-header .nav-menu-text {
  color: #FFFFFF;
  font-family: "Mona Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.nav-menu .nav-header .nav-menu-close-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
.nav-menu .nav-header .nav-menu-close-container .nav-menu__close {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Mona Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: -0.6px;
}
.nav-menu .nav-header .nav-menu-close-container .nav-menu__close:hover {
  color: #000000;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.nav-menu .nav-header .nav-menu-close-container .nav-menu__close-icon {
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.nav-menu__list {
  list-style: none;
  padding: 0;
  margin: 40px 0 60px 0;
  text-align: center;
}
.nav-menu__list .nav-menu__item {
  margin-bottom: 12px;
}
.nav-menu__list .nav-menu__item a {
  text-decoration: none;
  font-family: "Mona Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  transition: color 0.3s ease;
  line-height: 130%;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}
.nav-menu__list .nav-menu__item a:hover {
  text-decoration: underline;
}
.nav-menu__list .nav-menu__item a.active {
  font-weight: bold;
  text-decoration: underline;
}
.nav-menu__footer-title {
  font-family: "Druk Cyr", sans-serif;
  font-size: 57px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
  line-height: 99%;
  letter-spacing: -1.14px;
}
.nav-menu__footer .join-main-container--modal {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  height: 68px;
  margin-bottom: 52px;
}
.nav-menu__footer .join-course__background--modal {
  width: 217px;
  height: 72px;
}
.nav-menu__footer .join-course-container {
  position: relative;
  display: inline-block;
  width: 217px;
  height: 72px;
}
.nav-menu__footer .join-course-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.nav-menu__footer .join-course__text {
  position: absolute;
  top: 38%;
  left: 15%;
  font-family: "Mona Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.42px;
  color: #000000;
  text-transform: uppercase;
}
.nav-menu__footer .join-course__arrow {
  position: absolute;
  width: 9.6px;
  height: 9.6px;
}
.nav-menu__footer .join-course__arrow--top-left {
  top: 0;
  left: 0;
}
.nav-menu__footer .join-course__arrow--top-right {
  top: 0;
  right: 0;
}
.nav-menu__footer .join-course__arrow--bottom-left {
  bottom: 0;
  left: 0;
}
.nav-menu__footer .join-course__arrow--bottom-right {
  bottom: 0;
  right: 0;
}
.nav-menu__footer .join-course-box--modal {
  position: relative;
  width: 71px;
  height: 71px;
  margin-top: 20px;
  cursor: pointer;
}
.nav-menu__footer .join-course-box:hover .join-course-box__background {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.nav-menu__footer .join-course-box__background {
  position: absolute;
  top: -15%;
  left: 0;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
  background-color: #000000;
  transition: background-color 0.3s ease;
}
.nav-menu__footer .join-course-box__arrow--modal {
  position: absolute;
  stroke: #00D0D2;
  top: 35%;
  left: 35%;
  transform: translate(50%, -50%);
  width: 12.25px;
  height: 13.88px;
  transition: fill 0.3s ease;
  background-image: url("../../images/arrow-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-menu__contact {
  color: #FFFFFF;
  font-family: "Mona Sans", sans-serif;
}
.nav-menu__mail {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.nav-menu__legal {
  text-align: center;
  font-feature-settings: "salt" on;
  font-family: "Mona Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.28px;
  margin-bottom: 12px;
}

@media (min-width: 1920px) {
  .nav-menu__logo {
    display: block;
    width: 65.276px;
    height: 77.002px;
  }
  .nav-menu__logo img {
    width: 65px;
    height: 77px;
  }
  .nav-menu__main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 158px;
  }
  .nav-menu__header-container {
    display: flex;
    gap: 130px;
  }
  .nav-menu__content {
    padding: 76px 70px;
  }
  .nav-menu .nav-header {
    width: 100%;
    margin-bottom: 66px;
  }
  .nav-menu .nav-header .nav-menu-text {
    text-align: start;
    font-size: 44px;
  }
  .nav-menu .nav-header .nav-menu-close-container {
    gap: 19px;
  }
  .nav-menu .nav-header .nav-menu-close-container .nav-menu__close {
    font-size: 44px;
  }
  .nav-menu .nav-header .nav-menu-close-container .nav-menu__close-icon {
    width: 40px;
    height: 40px;
  }
  .nav-menu__list {
    text-align: left;
    margin-left: 197px;
  }
  .nav-menu__list .nav-menu__item {
    margin-bottom: 33px;
  }
  .nav-menu__list .nav-menu__item a {
    font-size: 54px;
  }
  .nav-menu__list .nav-menu__item a:hover {
    text-decoration: underline;
  }
  .nav-menu__list .nav-menu__item a.active {
    font-weight: bold;
    text-decoration: underline;
  }
  .nav-menu__footer {
    display: flex;
    flex-direction: column;
    gap: 88px;
  }
  .nav-menu__footer-title {
    text-align: start;
    font-size: 198px;
    letter-spacing: -3.96px;
  }
  .nav-menu__footer .join-main-container--modal {
    justify-content: left;
    padding: 0;
  }
  .nav-menu__footer .join-course__background--modal {
    width: 371px;
    height: 121px;
  }
  .nav-menu__footer .join-course-container {
    width: 371px;
    height: 121px;
  }
  .nav-menu__footer .join-course__text {
    position: absolute;
    top: 38%;
    left: 15%;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.78px;
  }
  .nav-menu__footer .join-course-box--modal {
    width: 121px;
    height: 121px;
  }
  .nav-menu__footer .join-course-box__background {
    top: -8%;
    width: 121px;
    height: 121px;
  }
  .nav-menu__footer .join-course-box__arrow--modal {
    position: absolute;
    stroke: #00D0D2;
    top: 40%;
    left: 35%;
    transform: translate(50%, -50%);
    width: 20.89px;
    height: 23.67px;
    transition: fill 0.3s ease;
  }
  .nav-menu__contact {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }
  .nav-menu__mail {
    font-size: 44px;
    letter-spacing: -1.32px;
  }
  .nav-menu__legal {
    text-align: end;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.32px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1920px) {
  .layout-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url("../../images/background-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  }
  .layout-wrapper::before {
    content: "";
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: 0;
  }
}

.header {
  position: relative;
  z-index: 10;
  max-width: 1920px;
  margin: 0 auto;
}

.course-target {
  position: relative;
  z-index: 20;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1919px) {
  .pick-path {
    display: none;
  }
}
@media (min-width: 1920px) {
  .pick-path {
    max-width: 1920px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 220px 71px;
  }
  .pick-path__title {
    text-align: center;
    color: #000000;
    font-family: "Druk Cyr", sans-serif;
    font-size: 133px;
    font-weight: 600;
    line-height: 99%;
    text-transform: uppercase;
    margin-bottom: 83px;
  }
  .pick-path__cards {
    width: 557px;
    display: flex;
    gap: 53px;
  }
  .pick-path__card {
    background-color: #FFFFFF;
    padding: 71px 28px 59px 28px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 100%;
  }
  .pick-path__card--hyper {
    background: #00D0D2;
  }
  .pick-path__card--blast {
    background: #000000;
    color: #FFFFFF;
  }
  .pick-path__card--blast .pick-path__features--head svg {
    fill: white;
  }
  .pick-path__card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
  }
  .pick-path__card-header img {
    width: 84px;
    height: 84px;
    flex-shrink: 0;
  }
  .pick-path__card-title {
    font-family: "Mona Sans", sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -1.65px;
  }
  .pick-path__list-container {
    margin-bottom: 49px;
  }
  .pick-path__features {
    list-style: none;
  }
  .pick-path__feature {
    margin-bottom: 44px;
  }
  .pick-path__features--head {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
  }
  .pick-path__list-text {
    font-family: "Mona Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .pick-path__list-decription {
    font-family: "Mona Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.66;
  }
  .pick-path__price {
    font-family: Inter;
    font-size: 86.308px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -1.726px;
    text-align: center;
  }
  .pick-path__price-old {
    font-family: Inter;
    font-size: 43.154px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.863px;
    text-decoration-line: strikethrough;
    opacity: 0.33;
    text-align: center;
    margin-bottom: 53.23px;
  }
  .pick-path__choose {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-family: "Mona Sans", sans-serif;
    font-size: 17.33px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: -0.52px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.modal.active {
  display: flex;
}
.modal .modal-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 576px;
  background: url("/images/modal-form.svg") no-repeat center;
  background-size: cover;
  border-radius: 12px;
  padding: 32px 44px 30px 32px;
  z-index: 1001;
  overflow: hidden;
}
.modal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  color: #FFFFFF;
  z-index: 1002;
  font-size: 28px;
}
.modal .modal-content .modal-title {
  color: #161616;
  font-family: "Mona Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.64px;
  margin-bottom: 54px;
}
.modal .modal-content .consultaion-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-bottom: 41.47px;
}
.modal .modal-content .consultation-form .form-group {
  display: flex;
  flex-direction: column;
}
.modal .modal-content .consultation-form .form-group label {
  color: #000000;
  font-family: "Mona Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.modal .modal-content .consultation-form .form-group input {
  padding: 12px 0 0 0;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  font-family: "Mona Sans", sans-serif;
  color: #000000;
}
.modal .modal-content .consultation-form .form-group input:focus {
  outline: none;
  border-bottom-color: #00D0D2;
}
.modal .modal-content .consultation-form .privacy-policy {
  margin-top: 43px;
  width: 280px;
  color: #a2a2a2;
  font-family: "Mona Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
}
.modal .modal-content .consultation-form .privacy-policy a {
  color: #00D0D2;
  font-family: "Mona Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.modal .modal-content .consultation-form .privacy-policy a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .modal-content {
    max-width: 320px;
    padding: 20px;
  }
  .modal .modal-content .close {
    color: #000000;
  }
}
@media (min-width: 600px) {
  .modal-content {
    max-width: 576px;
  }
}
.button-main-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-course-container {
  position: relative;
  display: inline-block;
  width: 371px;
  height: 121px;
  flex-shrink: 0;
}
.button-course-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-course__background {
  width: 371px;
  height: 121px;
  flex-shrink: 0;
  background-image: url("../../images/rectangle-pick-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.button-course__text {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-40%, -40%);
  font-family: "Mona Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.42px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.button-course__arrow {
  position: absolute;
  width: 17.5px;
  height: 17.5px;
}
.button-course__arrow--top-left {
  top: 0;
  left: 0;
}
.button-course__arrow--top-right {
  top: 0;
  right: 0;
}
.button-course__arrow--bottom-left {
  bottom: 0;
  left: 0;
}
.button-course__arrow--bottom-right {
  bottom: 0;
  right: 0;
}

.button-course-box {
  position: relative;
  width: 121px;
  height: 121px;
  margin-top: 20px;
  cursor: pointer;
}
.button-course-box:hover .button-course-box__background {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-course-box__background {
  position: absolute;
  top: -8%;
  left: 0;
  width: 121px;
  height: 121px;
  flex-shrink: 0;
  background-color: #00D0D2;
  transition: background-color 0.3s ease;
}

.button-course-box__arrow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20.89px;
  height: 23.67px;
  transition: fill 0.3s ease;
}

.pick-path__card--hyper .button-course-box__background {
  background-color: #000000;
}

.pick-path__card--blast .button-course-container {
  background: #FFFFFF;
}

@media (max-width: 576px) {
  .button-course-container {
    width: 55%;
  }
}

/*# sourceMappingURL=main.css.map */
