@use '../base/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    background-color: variables.$black;
    color: variables.$white;

&__logo {
        img {
        width: 27.141px;
            height: 32.015px;
            flex-shrink: 0;
    }
}


.menu {
    display: flex;
    align-items: center;
    gap: 9.74px;

    &__text {
    color: #FFF;
        font-family: variables.$font-title;
        font-size: 26.165px;
        font-weight: variables.$font-weight-bold;
        line-height: 91.5%;
        letter-spacing: -0.523px;
        text-transform: uppercase;
    }

    &__dots {
        display: grid;
        /* Используем grid для построения квадрата */
        grid-template-columns: repeat(2, 6px);
        /* Два столбца */
        grid-template-rows: repeat(2, 6px);
        /* Две строки */
        gap: 9.97px;

        &__dot {
            width: 6.65px;
            height: 6.65px;
            background-color: variables.$blue;
            border-radius: 50%;
        }
}


}}