@use "../base/variables";


.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  &.active {
    display: flex;
  }

  .modal-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 576px;
    background: url("/images/modal-form.svg") no-repeat center;
    background-size: cover;
    border-radius: 12px;
    padding: 32px 44px 30px 32px;
    z-index: 1001;
    overflow: hidden;

    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      background: transparent;
      border: none;
      cursor: pointer;
      line-height: 0;
      color: variables.$white;
      z-index: 1002;
      font-size: 28px;
    }

    .modal-title {
      color: #161616;
      font-family: variables.$font-primary;
      font-size: 32px;
      font-style: normal;
      font-weight: variables.$font-weight-semibold;
      line-height: 110%;
      letter-spacing: -0.64px;
      margin-bottom: 54px;
    }
    .consultaion-form__wrapper {
      display: flex;
      flex-direction: column;
      gap: 52px;
      margin-bottom: 41.47px;
    }

    .consultation-form {
      .form-group {
        display: flex;
        flex-direction: column;

        label {
          color: variables.$black;
          font-family: variables.$font-primary;
          font-size: 18px;
          font-style: normal;
          font-weight: variables.$font-weight-semibold;
          line-height: 100%;
        }

        input {
          padding: 12px 0 0 0;
          border: none;
          border-bottom: 1px solid black;
          font-size: 16px;
          font-family: variables.$font-primary;
          color: variables.$black;
          &:focus {
            outline: none;
            border-bottom-color: variables.$blue;
          }
        }
      }
      .privacy-policy {
        margin-top: 43px;
        width: 280px;
        color:  #a2a2a2;
        font-family: variables.$font-primary;
        font-size: 13px;
        font-weight: 500;
        line-height: 150%;

        a {
          color: variables.$blue;
          font-family: variables.$font-primary;
          font-size: 13px;
          font-weight: 500;
          line-height: 150%;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: none;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          text-underline-position: from-font;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
 @media (max-width: 576px) {
   .modal-content {
     max-width: 320px;
     padding: 20px;

}
.modal .modal-content .close {
  color: variables.$black;

}
}


 @media (min-width: 600px) {
   .modal-content {
     max-width: 576px;
   }
 }

 