@use "../base/variables";

.nav-menu__logo {
  display: none;
}
.nav-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: variables.$blue;
  transition: right 0.3s ease;
  z-index: 10;

  &__content {
    height: 100%;
    overflow-y: auto;
    padding: 45px 20px;
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .nav-menu-text {
      color: variables.$white;
      font-family: variables.$font-primary;
      font-size: 20px;
      font-weight: variables.$font-weight-bold;
      line-height: 130%;
      letter-spacing: -0.6px;
      text-transform: uppercase;
    }

    .nav-menu-close-container {
      display: flex;
      align-items: center;
      gap: 14px;

      .nav-menu__close {
        background: none;
        border: none;
        color: variables.$white;
        font-size: 20px;
        font-family: variables.$font-primary;
        font-weight: variables.$font-weight-bold;
        cursor: pointer;
        transition: color 0.3s ease;
        text-transform: uppercase;
        line-height: 130%;
        letter-spacing: -0.6px;

        &:hover {
          color: variables.$black;
          text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
      }

      .nav-menu__close-icon {
        width: 19px;
        height: 19px;
        cursor: pointer;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 40px 0 60px 0;
    text-align: center;

    .nav-menu__item {
      margin-bottom: 12px;

      a {
        text-decoration: none;
        font-family: variables.$font-primary;
        font-size: 32px;
        font-weight: variables.$font-weight-bold;
        color: variables.$black;
        transition: color 0.3s ease;
        line-height: 130%;
        letter-spacing: -0.96px;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
  &__footer {
    &-title {
      font-family: variables.$font-title;
      font-size: 57px;
      font-weight: variables.$font-weight-bold;
      text-transform: uppercase;
      color: variables.$black;
      margin-bottom: 20px;
      text-align: center;
      line-height: 99%;
      letter-spacing: -1.14px;
    }
    .join-main-container--modal {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: 68px;
      // padding: 0 20px 0 20px;
      margin-bottom: 52px;
    }
    .join-course__background--modal {
      width: 217px;
      height: 72px;
    }
    .join-course-container {
      position: relative;
      display: inline-block;
      width: 217px;
      height: 72px;
    }
    .join-course-container:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .join-course__text {
      position: absolute;
      top: 38%;
      left: 15%;
      font-family: variables.$font-primary;
      font-weight: variables.$font-weight-bold;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: -0.42px;
      color: variables.$black;
      text-transform: uppercase;
    }

    .join-course__arrow {
      position: absolute;
      width: 9.6px;
      height: 9.6px;
    }

    .join-course__arrow--top-left {
      top: 0;
      left: 0;
    }

    .join-course__arrow--top-right {
      top: 0;
      right: 0;
    }

    .join-course__arrow--bottom-left {
      bottom: 0;
      left: 0;
    }

    .join-course__arrow--bottom-right {
      bottom: 0;
      right: 0;
    }

    .join-course-box--modal {
      position: relative;
      width: 71px;
      height: 71px;
      margin-top: 20px;
      cursor: pointer;
    }

    .join-course-box:hover .join-course-box__background {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .join-course-box__background {
      position: absolute;
      top: -15%;
      left: 0;
      width: 71px;
      height: 71px;
      flex-shrink: 0;
      background-color: variables.$black;
      transition: background-color 0.3s ease;
    }

    .join-course-box__arrow--modal {
      position: absolute;
      stroke: variables.$blue;
      top: 35%;
      left: 35%;
      transform: translate(50%, -50%);
      width: 12.25px;
      height: 13.88px;
      transition: fill 0.3s ease;
      background-image: url("../../images/arrow-white.svg");
      background-size: cover;
        background-repeat: no-repeat;
    }
  }
  &__contact {
    color: variables.$white;
    font-family: variables.$font-primary;
  }
  &__mail {
    text-align: center;
    font-size: 24px;
    font-weight: variables.$font-weight-bold;
    line-height: 130%;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  &__legal {
    text-align: center;
    font-feature-settings: "salt" on;
    font-family: variables.$font-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.28px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1920px) {
  .nav-menu__logo {
    display: block;
width: 65.276px;
    height: 77.002px;

  }
  .nav-menu__logo img {
    width: 65px;
    height: 77px;
  }

  .nav-menu__main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 158px;
  }
  .nav-menu__header-container{
    display: flex;
    gap:130px;
  }

  .nav-menu {
    &__content {
      padding: 76px 70px;
    }
    .nav-header {
   width: 100%;
      margin-bottom: 66px;

      .nav-menu-text {
        text-align: start;
        font-size: 44px;
      }

      .nav-menu-close-container {
        gap: 19px;

        .nav-menu__close {
          font-size: 44px;
        }

        .nav-menu__close-icon {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__list {
      text-align: left;
      margin-left: 197px;

      .nav-menu__item {
        margin-bottom: 33px;

        a {
          font-size: 54px;

          &:hover {
            text-decoration: underline;
          }

          &.active {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 88px;
      &-title {
        text-align: start;
        font-size: 198px;
        letter-spacing: -3.96px;
      }
      .join-main-container--modal{
        justify-content: left;
        padding: 0;
      }

      .join-course__background--modal {
        width: 371px;
        height: 121px;
      }

      .join-course-container {
        width: 371px;
        height: 121px;
      }

      .join-course__text {
        position: absolute;
        top: 38%;
        left: 15%;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: -0.78px;
      }

      // .join-course__arrow {
      //   width: 17.5px;
      //   height: 17.5px;
      // }

      .join-course-box--modal {
        width: 121px;
        height: 121px;
      }

      .join-course-box__background {
        top: -8%;
        width: 121px;
        height: 121px;
      }

      .join-course-box__arrow--modal {
        position: absolute;
        stroke: variables.$blue;
        top: 40%;
        left: 35%;
        transform: translate(50%, -50%);
        width: 20.89px;
        height: 23.67px;
        transition: fill 0.3s ease;
        
      }
    }

    &__contact {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
    }

    &__mail {
    font-size: 44px;
    letter-spacing: -1.32px;


    }

    &__legal {
        text-align: end;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
    letter-spacing: -0.32px;
      margin-bottom: 12px;
    }
  }
}
