
$white: #FFFFFF;
$blue: #00D0D2;
$black: #000000;

$text-primary:$black;
$text-secondary:$white;

$background-black:$black;
$background-white:$white;
$background-blue:$blue;

$font-primary: 'Mona Sans', sans-serif;
$font-title: 'Druk Cyr', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;


$breakpoints: (
    mobile: 375px,
    desktop: 1920px
);